@import './color';

// Base CSS variable prefix
$prefix: ha-;

// Override background color
$body-bg: $ha-dark;
$body-color: $ha-white;

// Override fonts
$font-family-base: $font-family-epilogue;
$font-size-base: 1rem;
$font-size-sm: $font-size-base;
$font-size-lg: $font-size-base;

// Override headers variables
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Override Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Override Container max-width
$container-max-widths: (
  xxl: 1320px
);

// Override Spacer
$spacer: 1rem;
$spacers: (
  0: 0,
  // 0px
  1: $spacer * .25,
  // 4px
  2: $spacer * .5,
  // 8px
  3: $spacer,
  // 16px
  4: $spacer * 1.5,
  // 24px
  5: $spacer * 3,
  // 48px
  6: $spacer * 3.5,
  // 56px
  7: $spacer * 4,
  // 64px
  8: $spacer * 4.5,
  // 72px
  9: $spacer * 5,
  // 80px
  10: $spacer * 5.5,
  // 88px
);

// Override Colors
$primary: $ha-light-green;
$secondary: $ha-purple;
$dark: $ha-intense-dark;
// "success":    $success,
// "info":       $info,
// "warning":    $warning,
// "danger":     $danger,
// "light":      $light,

// Override Buttons
$btn-padding-x: 1.1rem;
$btn-padding-y: 0.6rem;

// Override Navbar
$navbar-light-color: $ha-dark;

// Override Input
$input-color: $ha-intense-dark;
$input-placeholder-color: $ha-intense-dark;
$input-bg: $ha-white;