// Base CSS variable prefix
$prefix: ha-;

// Override background color
$body-bg: $ha-dark;
$body-color: $ha-white;

// Override fonts
$font-family-base: $font-family-epilogue;
$font-size-base: 1rem;
$font-size-sm: $font-size-base;
$font-size-lg: $font-size-base;

// Override headers variables
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// Container max-width
$container-max-widths: (
  xxl: 1320px
);

// Colors
$primary: $ha-light-green;
$secondary: $ha-purple;

// Buttons
$btn-padding-x: 1.1rem;
$btn-padding-y: 0.6rem;

// Navbar
$navbar-light-color: $ha-dark;

// Input
$input-color: $ha-deep-dark;
$input-bg: $ha-white;